Package: websocat
Version: 1.14.0
Architecture: aarch64_cortex-a53
Maintainer: Vitaly Shukela https://github.com/vi/websocat
Source: https://github.com/vi/websocat/releases/download/v1.14.0/websocat_max.aarch64-unknown-linux-musl
Description: Netcat, curl and socat for WebSockets.
Depends: libc
