Package: luci-app-zerotier-22
Version: 1.0-20
Depends: libc, zerotier
Source: feeds/luci/applications/luci-app-zerotier
SourceName: luci-app-zerotier
Section: luci
SourceDateEpoch: 1711432774
Architecture: all
Installed-Size: 3307
Description:  LuCI for Zerotier on OpenWRT 22
