Package: luci-app-zerotier
Version: 1.14.1-1
Depends: libc, zerotier
Source: feeds/kiddin9/luci-app-zerotier
SourceName: luci-app-zerotier
Section: luci
SourceDateEpoch: 1754481838
URL: https://github.com/openwrt/luci
Maintainer: OpenWrt LuCI community
Architecture: all
Installed-Size: 30720
Description:  LuCI for Zerotier
